<app-title *ngIf="show" title="Mudando via app.component"></app-title>
<button (click)="adicionar()">Add</button>
<br>
{{valor}}
<br>
<button (click)="boolComponent()">Bool Componente</button>
<br>
<app-data-binding></app-data-binding>


<app-diretivas-estruturais> </app-diretivas-estruturais>
<app-diretivas-atributos></app-diretivas-atributos>
<hr>
<app-novo-componente></app-novo-componente>
<hr>
<app-input [contador]="addValor"></app-input>
<button (click)="mudaValor()">Muda Valor</button>
<router-outlet></router-outlet>
