<app-title *ngIf="show" title="Mudando via app.component"></app-title>
<button (click)="adicionar()">Add</button>
<br>
{{valor}}
<br>
<button (click)="boolComponent()">Bool Componente</button>
<br>
<app-data-binding></app-data-binding>


<app-diretivas-estruturais> </app-diretivas-estruturais>
<app-diretivas-atributos></app-diretivas-atributos>
<hr>
<app-novo-componente></app-novo-componente>
<hr>
<app-input [contador]="addValor"></app-input>
<button (click)="mudaValor()">Muda Valor</button>
<hr>
<app-output (enviarDados)="recebeDados($event)"></app-output>
<ng-template [ngIf]="getDadosOutput">
  <hr>
  Dado recebido via @Output()
  <h3>{{getDadosOutput!.nome}}</h3>
  <h3>{{getDadosOutput!.idade}}</h3>
  <hr>
</ng-template>
<router-outlet></router-outlet>
